version: '3.8'

services:
  backend:
    build: ./backend
    depends_on:
      - postgres
    env_file:
      - .env
    restart: always
    networks:
      - backend
    ports:
      - "8000:8000"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-talait}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

networks:
  backend:
